.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.footer a, p {
    color: var(--text-muted);
    font-size: 1.2rem;
    text-decoration: none;
}

.footer div {
    display: flex;
    gap: 0.3rem;
}

.footer a:hover {
    color: var(--text-muted);
    text-decoration: underline;
}